.nav-container::after {
    content: '';
    display: table;
    clear: both;
  }
.App-logo {
    width: 85px;
    pointer-events: none;
    float: left;
    padding: 10px 0;
    position: absolute;
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .bars {
    font-size: 18px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    /* font-size: 18px; */
  }
  nav {
    float: right;
    background-color: #93032E;
  }
  .list {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .items {
      margin: 0 20px;
      font-size: 20px;
  }
  .items a {
      text-decoration: none;
      color: white;
      cursor: pointer;
      font-size: 18px;
      text-transform: uppercase;
      padding: 5px 0;
      position: relative;
      
  }
  .items a::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms linear;
  }
  .items a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    background-color: rgba(255, 255, 255, 0.678);
  
  }
  
  .items a:hover{
    color: rgba(255, 255, 255, 0.678);
  }
  @media screen and (min-width: 500px) {
      .nav-container {
          background-color: #93032E;
      }
      nav {
          margin-top: 12px;
          margin-bottom: 12px;
      }   
  }
  @media screen and (max-width: 500px) {
      nav {
          position: absolute;
          right: 0;
          margin-top: 0;
          margin-bottom: 0;
      }
      .list {
          flex-direction: column;
          height: auto;
          padding: 0;
      }
      .items:nth-child(1){
          border-top: 1px solid rgba(255, 255, 255, 0.555);
          margin-top: 50px;
      }
      .items {
          width: 100%;
          border-top: 1px solid rgba(255, 255, 255, 0.555);
          text-align: center;
          margin-right: 0px;
          margin-left: 0;
          padding: 20px 0;
      }
      .items a {
          margin-right: 20px;
          margin-left: 20px;
      }
      .bars {
          display: block;
      }
  }
